body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:743px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:40px;
  width:179px;
  height:73px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:175px;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:224px;
  width:115px;
  height:65px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:111px;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:224px;
  width:115px;
  height:65px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:111px;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:224px;
  width:115px;
  height:65px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:111px;
  word-wrap:break-word;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:113px;
  width:0px;
  height:0px;
}
#u4_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u4_seg1 {
  border-width:0px;
  position:absolute;
  left:-254px;
  top:51px;
  width:258px;
  height:8px;
}
#u4_seg2 {
  border-width:0px;
  position:absolute;
  left:-254px;
  top:51px;
  width:8px;
  height:60px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:-176px;
  top:47px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:224px;
  width:0px;
  height:0px;
}
#u5_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-9px;
  width:8px;
  height:9px;
}
#u5_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-60px;
  width:8px;
  height:59px;
}
#u5_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-60px;
  width:24px;
  height:8px;
}
#u5_seg3 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-60px;
  width:74px;
  height:8px;
}
#u5_seg4 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:-111px;
  width:8px;
  height:59px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-64px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:113px;
  width:0px;
  height:0px;
}
#u6_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u6_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:51px;
  width:295px;
  height:8px;
}
#u6_seg2 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:51px;
  width:8px;
  height:60px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:94px;
  top:47px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:318px;
  width:158px;
  height:270px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:318px;
  width:162px;
  height:195px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:318px;
  width:141px;
  height:188px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:224px;
  width:115px;
  height:65px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:111px;
  word-wrap:break-word;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:113px;
  width:0px;
  height:0px;
}
#u11_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u11_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:51px;
  width:108px;
  height:8px;
}
#u11_seg2 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:51px;
  width:8px;
  height:60px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:47px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
